.main{
    width: 1425px;
    min-height: 700px;
    background-color: aqua;
}
.nav {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    background-color: #a71414; 
    padding: 10px; 
    margin: 0; 
    font-size: 16px; 
    font-family: Arial, sans-serif; 
    
    
}

